<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">
  $(document).on( "click", ".theme-chooser", function() {
    $(".theme-chooser").css("background-color", "#FFFAFA");
    $(this).css("background-color", "#333333");
    $(".theme-chooser").css("font-color", "#FFFFFF");
    $("#ranking").load("/ranking #content", {theme_id: $(this).text()})
  });
</script>
<body>
  <div class="row">
    <div class="small-12 columns">
      <div class="off-canvas-wrap" data-offcanvas>
        <div class="inner-wrap">
          <div class="large-0 pull-0 columns">
          <nav class="top-bar show-for-medium-up" data-topbar>
              <ul class="title-area">
                <li class="name">
                  <h1><a href="#">Ranking Área de Investimento x Parlamentares</a></h1>
                </li>
              </ul>
          </div>
          <div style="width:50%;height:600px;line-height:3em;overflow:scroll;padding:5px;float:left">
            <aside>
              <ul class="side-nav">
                <li class="toggle-topbar menu-icon">
                  <% @themes.each do |theme| %>
                    <% link = theme.description + ' (' + theme.propositions.count.to_s + ')' %>
                    <% theme_id = Theme.find_by(description: theme.description).id %>
                    <li><%= link_to link, 'javascript:;', class: "theme-chooser"  %></li>
                  <% end %>
                </li>
              </ul>
          </div>

          <div id="ranking" style="width:50%;height:600px;line-height:3em;overflow:scroll;padding:5px;">
            <div id="content">
              <ul class="side-nav">
                <% request = sort_parliamentarians_by_propositions_per_theme(@selected_theme_id) %>
                <% request.each do |p| %>
                  <li class="toggle-topbar menu-icon">
                  <%= show_name_and_number_of_propositions(@selected_theme_id, p.parliamentarian_id) %>
                <% end %>
              </ul>
            </div>
          </div>
          <section class="top-bar-section">
            <!-- Right Nav Section -->
          </section>
        </nav>

       <a class="exit-off-canvas"></a>
       </div>
     </div>
   </div>
</div>
