<p>
Themes
</p>
<table>
	<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
	<tr>
		<th>Nome</th>
		<th>Proposiçỗes</th>
		</tr>
	<% @themes.each do |theme| %>
		<tr>
			<td><%= theme.description %></td>
		</tr>
		<% end %>
		<p>
			
			<%= pie_chart Theme.group(:description).count %>
		</p>
</table>
