<p>
  ThemeController
</p>
<table>
	<tr>
		<th>Nome</th>
		<th>Endereço</th>
		<th>Especialidade</th>
		</tr>
	<% @themes.each do |theme| %>
		<tr>
			<td><%= theme.description %></td>
		</tr>
		<% end %>
		</table> 