<!DOCTYPE html>
<html lang="en">
  <head>
  </head>

    <body>
      <%= render 'shared/show_flashes' %>
      <div class="row">
        <div class="inner-wrap">
          <nav class="top-bar show-for-medium-up" data-topbar>
            <ul class="title-area">
              <li class="name">
                <h1><a href="#">Quiz</a></h1>
              </li>
            </ul>
          <section class="top-bar-section">
            <!-- Right Nav Section -->
          </section>
          </nav>
        </div>
      </div>
     <h4> <%= @proposition.explanation %> </h4>
    </body>
</html>