<% if flash.any? %>
		<% flash.each do |name, msg| -%>
		  <% if name == 'sucess' %>
		  	<div data-alert class="alert-box success radious">
		  		<%= content_tag :div, msg, class: name %>
				<a href="#" class="close">&times;</a>
				</div>
			<% end %>

			<% if name == 'info' %>
		  	<div data-alert class="alert-box info radious">
		  		<%= content_tag :div, msg, class: name %>
				<a href="#" class="close">&times;</a>
				</div>
			<% end %>

			<% if name == 'danger' %>
		  	<div data-alert class="alert-box alert radious">
		  		<%= content_tag :div, msg, class: name %>
				<a href="#" class="close">&times;</a>
				</div>
			<% end %>
		<% end -%>
<% end %>