<body>

 <div class="row">
  <div class="small-12 columns">
    <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">
        <nav class="top-bar show-for-medium-up" data-topbar>
          <ul class="title-area">
            <li class="name">
              <h1><a href="#">Entendendo o projeto Espelho Político</a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
          </ul>

          <section class="top-bar-section">
            <!-- Right Nav Section -->
          </section>
        </nav>

        <nav class="tab-bar show-for-small">
          <section class="left-small">
            <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
          </section>

          <section class="middle tab-bar-section">
            <h1 class="title">Offcanvas for Small</h1>
          </section>

        </nav>

        <aside class="left-off-canvas-menu">
          <ul class="off-canvas-list">
            <li><label>Foundation</label></li>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </aside>

        <section class="main-section">
          <div class="row">
        <div class="large-12 columns">

          <h4 class="">Espelho Político</h4>

          <p>O projeto tem como vista desenvolver uma visão heurística do processo denominado...</p>

          <p>
          Projeto em realização conjunta por alunos das disciplinas Gestão de Portifólios e Projetos de Software (GPP) e Métodos de Desenvolvimento de Software (MDS) do curso de <a href="http://fga.unb.br">Engenharia de Software, Universidade de Brasília</a>. </p>

        </div>
      </div>
        </section>

      <a class="exit-off-canvas"></a>

      </div>
    </div>
  </div>
</div>

  <script src='http://assets.codepen.io/assets/libs/fullpage/jquery-ab8e840c3dad7ccf2deadb8c40d53bdb.js'></script>
  <script src='http://cdn.foundation5.zurb.com/foundation.js'></script>

  <script src='/assets/common/localstorage.js'></script>
  <script src='/assets/post/scroll/remember_scroll.js'></script>
  <script>RememberScroll.init();</script>

  <script>
    if (document.location.search.match(/type=embed/gi)) {
      window.parent.postMessage('resize', "*");
    }
  </script>

  <script>
    $(document).foundation();
    //@ sourceURL=pen.js
  </script>

</body>

</html>